.button {
  width: 100px;
  height: 50px;
  border-radius: 11px;
  color: #fff;
  font-size: 12px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.primaryColor {
  background-color: #5674de;
}

.secondaryColor {
  background-color: #2cc0ef;
}
